body {
  font-family: sans-serif;
  margin: 0 auto;
  width: 90%;
}

.btn-wrapper{
  display: flex;
}

.btn-wrapper button {
  margin: 15px;
  padding: 10px 18px;
}

.content-hidden {
  width: 100%;
  background-color: blanchedalmond;
  padding: 20px;
  border-radius: 5px;
}
.content-hidden {
  display: none;
}
.content-show {
  display: block;
}

